html {
    height: 100%;
    background: #6D7993;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 18px;
    justify-content: center;

}
body{
    margin: 0;
    padding: 10px 0;
    font-family: Palatino, URW Palladio L, serif;
    width: 100%;

}

header {
    color: white;
    padding: 1px;
    margin: 0;
    border-bottom: 3px solid white;
    text-align: center;

}
#flexWrap{
    display: flex;
    flex-direction: row;
}

#graph{
    padding: 10px;
    text-align: center;
}
canvas {
    width: 400px;
    height: 400px;
    border: 1px solid white;
}
canvas:hover{
    cursor: crosshair;
}

#formTable {
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 5px;
    border-radius: 20px;
}
#dataTable th {
    padding: 12px 10px;
    border-bottom: 2px solid white;
    color: lavender;
}
#dataTable td {
    padding: 10px;
    color: white;
}
#dataTable td:nth-child(4n){
    color: lavender;
}